
.body {
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
p {
    font-size: 16px;
}
h2, h3 {
    line-height: 1.6rem;
}
h1{
    line-height: 2.8rem;
}
:root{
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}
.view {
    padding: 30px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr, minmax(100px, 1fr);
    grid-gap: 1rem;
    grid-template-areas: 
        'box1 box2 box2 box3'
        'box1 box2 box2 box3'
        'box1 box2 box2 box3'
        'box1 box2 box2 box3'
        'box1 box4 box5 box3'
        'box6 box4 box5 box3'
        'box6 box4 box5 box3'
        'box6 box7 box8 box8'
        'box6 box7 box8 box8'
        'box6 box7 box8 box8';
}


.item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item-1 {
    grid-area: box1;
    background-color: var(--Yellow-100);
    padding: 20px;
    padding: 50px 20px 0px 20px;
}
.item-1 h2{
    font-size: 1.8rem;
}
.item-1 img{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
}
.item-1 span {
    color: var(--Purple-500);
    font-style: italic;
}

.item-2 {
    grid-area: box2;
    background-color: var(--Purple-500);
    color: var(--White);
    padding: 20px;
    text-align: center;
}
.item-2 p {
    opacity: 0.8;
}

.item-2 img {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 20px 0px 10px 0px;
}
.item-2 h1 {
    font-weight: 500;
    font-size: 2.8rem;
    text-align: center;
    padding-top: 15px;
}
.item-2 span {
    color: var(--Yellow-500);
}
.item-3 {
    grid-area: box3;
    background-color: var(--Purple-100);
    padding: 40px 20px 20px 20px;
}
.item-3 img {
    display: block;
    height: 50%;
    margin-bottom: 15px;
}
.item-3 h3 {
    font-size: 1.6rem;
    margin-bottom: 18px;
}
.item-4 {
    grid-area: box4;
    padding: 20px;
}
.item-4 img {
    display: block;
    width: 18rem;
    margin-bottom: 15px;
}
.item-4 h3 {
    font-size: 1.6rem;;
}
.item-5 {
    grid-area: box5;
    display: flex;
    flex-direction: column;
    background-color: var(--Yellow-500);
    padding: 20px;
}
.item-5 h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.item-5 img{
    display: block;
    height: 100%;
}
.item-6 {
    grid-area: box6;
    padding: 20px;
    background-color: var(--Yellow-500);
}
.item-6 h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
}
.item-6 img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.item-7 {
    grid-area: box7;
    padding: 20px;
}
.item-7 h3 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.item-7 img {
    display: block;
    margin-top: 26px;
    width: 100%;
}
.item-8 {
    grid-area: box8;
    background-color: var(--Purple-500);
    display: flex;
    color: var(--White);
    align-items: center;
    font-size: 1.2rem;
    padding: 20px;
}
.item-8 img {
    height: 100%;
}
@media (max-width: 1130px){
    .container{
        max-height: initial;
        grid-auto-rows: initial;
        grid-template-areas:
        'box1 box1 box2 box2'
        'box1 box1 box2 box2'
        'box3 box3 box6 box6'
        'box3 box3 box6 box6'
        'box5 box5 box4 box4'
        'box5 box5 box4 box4'
        'box7 box7 box8 box8'
        'box7 box7 box8 box8'
    }
    .item-3 {
        height: 400px;
    }
    .item-8 {
        flex-direction: column;
    }
    .item-8 img {
        width: 80%
    }
    
}
@media (max-width: 576px) {
    .container{
        max-height: initial;
        grid-auto-rows: initial;
        grid-template-areas:
        'box1 box1'
        'box1 box1'
        'box2 box2'
        'box2 box2'
        'box3 box3'
        'box3 box3'
        'box4 box4'
        'box5 box5'
        'box6 box6'
        'box7 box7'
        'box7 box7'
        'box8 box8'
        'box8 box8'
    }